extends ../layout

block content
    .container
      a.btn.btn-primary(href='/pattern/davatar/create') Create
      h3 DAvatars List
      .row
        .col.s9.m7
          each davatar in davatar_list
            .card.horizontal
              .card-stacked
                .card-content
                  strong
                    a(href=davatar.url) #{davatar.name}
                  h6 For #{davatar.client.name}
          else
          p You haven't added any avatars yet.
                

