extends ../layout

block content

  h1 Delete Skirt: #{skirt.name}
  
  p Do you really want to delete this Skirt?
    
  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=skirt._id )

    button.btn.btn-danger(type='submit') Delete